*.py[cod]
*~
.python-version
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
setup.tar.gz
develop-eggs
.installed.cfg
lib
lib64
wheelhouse

# envdirs
envs/*
!envs/dev

# Django
absys/media/*
!absys/media/.gitkeep
absys/static_root/*
!absys/static_root/.gitkeep

# Logs
*.log
*.log.*
pip-log.txt

# Unit test / coverage reports
.cache
.coverage
.tox
htmlcov

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# npm
node_modules

# Sphinx
docs/_build
!docs/_static/.gitkeep

# Vagrant
.vagrant/

# SublimeText
*.sublime-workspace
*.sublime-project

# PyCharm
/idea
*.idea

# Git
.gitattributes

# Database Dumps
*.json
