include *.rst
include LICENSE
include Makefile
include manage.py
include MANIFEST.in
include tox.ini
recursive-include requirements *.pip
graft docs
prune docs/_build
prune bin
prune envs
prune salt
prune setup
graft absys
prune absys/media
include absys/media/.gitkeep
prune absys/static_root
graft tests
exclude .bumpversion.cfg
exclude .editorconfig
exclude Vagrantfile
global-exclude *.py[co]
global-exclude __pycache__
