{% extends 'base/base.html' %}

{% block content %}
    <div>
        
        <h3> {{ schueler.nachname }}, {{ schueler.vorname }} </h3>
       
        <div>
            
                <table class="w3-table-all w3-responsive w3-hoverable ">
                    <tr>
                        <td align="left">ID:</td>
                        <td align="left">{{ schueler.pk }} </td>
                    </tr>
                    <tr>
                        <td align="left">Gruppe:</td>
                        <td align="left">{{ schueler.gruppe }} </td>
                    </tr>
                     <tr>
                        <td align="left">Stufe:</td>
                        <td align="left">{{ schueler.stufe }} </td>
                    </tr>   
                    <tr>
                        <td align="left">Bemerkungen:</td>
                        <td align="left">{{ schueler.bemerkungen }} </td>
                    </tr>
                    <tr>
                        <td align="left">Erstellungsdatum:</td>
                        <td align="left">{{ schueler.erstellungsdatum }} </td>
                    </tr>  
                </table>
                
        </div>
        
    </div>

{% endblock %}






