{% load staticfiles %}

{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<title>Absys</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style> html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif} </style>

</head>


<body>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4">
  <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" onclick="w3_open()">Menü</button>
  <span class="w3-right"> <a style="text-decoration:none" href="/" >LOGO ABSYS</a></span>
</div>

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left w3-top" style="z-index:3;width:200px;"><br>
  <div class="w3-container w3-row">
    
    <!-- Zeigt ein Avatar-Bild an, brauchen wir vorerst nicht -->
    <!-- <div class="w3-col s4">
      <img src="img_avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div> -->
    
    
    <div class="w3-col s10" style="padding-top:40px">
      <a href="#" class="w3-padding-8 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="Menü schließen">Menü schließen</a>
      <p></p>
      <span>Willkommen, <strong>$PlatzhalterName</strong></span><br>
      <!-- <a href="#" class="w3-hover-none w3-hover-text-red w3-show-inline-block"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-hover-none w3-hover-text-green w3-show-inline-block"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-hover-none w3-hover-text-blue w3-show-inline-block"><i class="fa fa-cog"></i></a> -->
    </div>
  </div>
  <hr>
  <!-- <div class="w3-container">
    <h5>Absys</h5>
  </div> -->
  
<!-- Alle Ausdrücke der Form "<i class="fa fa-$NAME sind die Loader für die Icons von FontAwesome; können weggelassen werden -->
  
  <!-- Menü schließen - Feld habe ich weiter oben hingepackt, irritiert dort nur -->
  <!-- <a href="#" class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="Menü schließen"><i class="fa fa-remove fa-fw"></i>  Menü schließen</a> -->
  <a href="#" class="w3-padding">   <!--<i class="fa fa-users fa-fw"></i> -->                   Datenerfassung</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-eye fa-fw"></i> -->                    Datenbearbeitung</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-users fa-fw"></i> -->                  Rechnungserstellung</a>
  <a href="/stammdaten" class="w3-padding">           <!-- <i class="fa fa-bullseye fa-fw"></i> -->               Stammdaten ändern</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-diamond fa-fw"></i> -->                Administration</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-bell fa-fw"></i> -->                   ...über Appstruktur klarwerden</a>
  <!-- <a href="#" class="w3-padding">           <i class="fa fa-bank fa-fw"></i>  General</a>
  <a href="#" class="w3-padding">           <i class="fa fa-history fa-fw"></i>  History</a>
  <a href="#" class="w3-padding">           <i class="fa fa-cog fa-fw"></i>  Settings</a><br><br> -->
</nav>


<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="Overlay"></div>





<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:200px;margin-top:70px">
    
  <header class="w3-tiny w3-container w3-grey w3-top w3-hide-small w3-hide-medium" style="padding-bottom:0px; margin-top:40px">
    <p>Vererbende BASE.html mit CSS und JS | Hier könnten dann Breadcrumbs hin. Leiste verschwindet auf kleinen und mittleren Geräten (nimmt zuviel Platz weg)</p>
  </header>  

  <!-- Header -->
  <!-- <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Übersicht</b></h5>
  </header> -->


  <!-- HIER KOMMEN DIE DYNAMISCHEN INHALTE HINEIN -->
  <div class="w3-container w3-padding-16 w3-light-grey w3-responsive">
    {% block content %}
      
    {% endblock %}
  </div>





  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-dark-grey" style="z-index:2">
    <h4>Gefördert durch: [Logos SMK usw.]</h4>
    <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
    document.getElementsByClassName("w3-overlay")[0].style.display = "block";
}
 
function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
    document.getElementsByClassName("w3-overlay")[0].style.display = "none";
}
</script>

</body>
</html>
