{% extends "base.html" %}

{% block navigation %}
  {% block toggle_login %}
  {% endblock %}
{% endblock %}


{# DECKBLATT #}

{% block content %}
<div>
<h1> Rechnung </h1>
<br>
<br>
<h2>
  an:<br>
  Sozialamt: {{ rechnungsozialamt.sozialamt }}<br>
  {{ rechnungsozialamt.sozialamt_anschrift|linebreaks }}<br>
  <br>
  <br>
  von: <br>
  {{ rechnungsozialamt.rechnungen_einrichtungen.first.einrichtung.standort.anschrift|linebreaks }}
  <br>
  <br>
  <br>
  Rechnungsnummer: {{ rechnungsozialamt.nummer }} <br>
  Abrechnungszeitraum:
  {{ rechnungsozialamt.startdatum|date:"d.m.Y" }}
  -
  {{ rechnungsozialamt.enddatum|date:"d.m.Y" }}

</h2>


{# BEGINN EINRICHTUNGSRECHNUNGEN #}

{% for einrichtungsrechnung in rechnungsozialamt.rechnungen_einrichtungen.all %}

  <div style="page-break-before:always;">

  <h4>Einrichtung: {{ einrichtungsrechnung.name_einrichtung }} </h4>

  <p>
    Anschrift:
    {{ einrichtungsrechnung.einrichtung.standort.anschrift|linebreaks }}
  </p>

  <p>
    Bankverbindung:<br>
    BIC: {{ einrichtungsrechnung.einrichtung.standort.konto_bic }}<br>
    Institut: {{ einrichtungsrechnung.einrichtung.standort.konto_institut }}<br>
    IBAN: {{ einrichtungsrechnung.einrichtung.standort.konto_iban }}<br>
    Buchungsstelle: ??? <br>
    Buchungskennzeichen: {{ einrichtungsrechnung.buchungskennzeichen }}<br>
    Fälligkeitsdatum: {{ einrichtungsrechnung.datum_faellig }}<br>
  </p>

  <p>
    Abrechnungszeitraum:
    {{ rechnungsozialamt.startdatum|date:"d.m.Y" }}
    -
    {{ rechnungsozialamt.enddatum|date:"d.m.Y" }}
    <br>
    Betreuungstage: {{ einrichtungsrechnung.betreuungstage }} <br>
    gegenüber Sozialamt {{ rechnungsozialamt.sozialamt }}
  </p>

  <p>
    Aufwendungen Gesamt: {{ einrichtungsrechnung.summe }} € <br>
    Datum: <br>
    Unterschrift: <br>
  </p>

{# BEGINN EINRICHTUNGSPOSITIONEN #}

  <p>
    <table class="table table-striped">
      <thead style="display: table-row-group">
         <tr>
          <th>Pos.</th>
          <th>Name</th>
          <th>Aktenzeichen</th>
          <th>Geburtsdatum</th>
          <th>Maximale Fehltage</th>
          <th>Anzahl Tage anwesend</th>
          <th>Fehltage im Abrechnungs-zeitraum</th>
          <th>Übertrag abgerechnete Fehltage</th>
          <th>Fehltage Gesamt</th>
          <th>Fehltage zur Anrechnung</th>
          <th>Zahltage dieser Rechnung</th>
          <th>Gesamtbetrag (€)</th>
        </tr>
      </thead>
      <tbody>
        {% for einrichtungsposition in einrichtungsrechnung.positionen.all %}
          <tr>
            <td>{{ einrichtungsposition.id}}</td>
            <td>{{ einrichtungsposition.schueler.nachname }}, 
              {{ einrichtungsposition.schueler.vorname }} </td> 
              {# name_schuler wird im Rechnungslauf noch nicht in das Model geschrieben; außerdem brauchen wir NACHNAME, VORNAME #}
            <td>{{ einrichtungsposition.schueler.aktenzeichen}}</td>
            <td>{{ einrichtungsposition.schueler.geburtsdatum|date:"d.m.Y"}}</td>
            <td>{{ einrichtungsposition.fehltage_max}}</td>
            <td>{{ einrichtungsposition.anwesend}}</td>
            <td>{{ einrichtungsposition.fehltage}}</td>
            <td>{{ einrichtungsposition.fehltage_uebertrag}}</td>
            <td>{{ einrichtungsposition.fehltage_gesamt}}</td>
            <td>{{ einrichtungsposition.fehltage_abrechnung}}</td>
            <td>{{ einrichtungsposition.zahltage}}</td>
            <td>{{ einrichtungsposition.summe}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </p>
{# ENDE EINRICHTUNGSPOSITIONEN #}

{# BEGINN SCHUELERPOSITIONEN #}

<div style="page-break-before:always;"></div>
{% for einrichtungsposition in einrichtungsrechnung.positionen.all %}
  <div style="page-break-before:always;"></div>
  {{ einrichtungsposition.schueler.nachname }}, {{ einrichtungsposition.schueler.vorname }}

       <table class="table table-striped">
        <thead style="display: table-row-group">
           <tr>
            <th>Datum</th>
            <th>Tagart</th>
            <th>Anwesenheit</th>
            <th>Pflegesatz</th>
            <th>Einrichtung</th>
          </tr>
        </thead>
        <tbody>
          {% for schuelerposition in einrichtungsposition.detailabrechnung.all %} {# ist das Queryset detailabrechnung falsch? #}
            <tr>
              <td>{{ schuelerposition.datum|date:"d.m.Y" }} </td>
              <td>{{ schuelerposition.tag_art }}</td>
              <td>{% if schuelerposition.abwesend %}<span class="glyphicon glyphicon-remove" aria-hidden="true">
                {% else %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% endif %}</td>
              <td>{{ schuelerposition.pflegesatz }}</td>
              <td>{{ schuelerposition.name_einrichtung }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  
  {% endfor %}
{# ENDE SCHUELERPOSITIONEN #}
</div>
{#ENDE EINRICHTUNGSRECHNUNG #}
{% endfor %}

{% endblock %}


