{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<title>Absys</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style> html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif} </style>

</head>




<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4">
  <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i>  Menü</button>
  <span class="w3-left">$BreadcrumbPlatzhalteroption Nr. 2 mit vieeeelen Links....</span>
  <span class="w3-right"> LOGO ABSYS SLSH / LBS</span>
</div>

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;"><br>
  <div class="w3-container w3-row">
    
    <!-- Zeigt ein Avatar-Bild an, brauchen wir vorerst nicht -->
    <!-- <div class="w3-col s4">
      <img src="img_avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div> -->
    
    
    <div class="w3-col s8">
      <a href="#" class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="Menü schließen"><i class="fa fa-remove fa-fw"></i>  Menü schließen</a>
      <span>Willkommen, <strong>$PlatzhalterName</strong></span><br>
      <a href="#" class="w3-hover-none w3-hover-text-red w3-show-inline-block"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-hover-none w3-hover-text-green w3-show-inline-block"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-hover-none w3-hover-text-blue w3-show-inline-block"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Absys</h5>
  </div>
  
<!-- Alle Ausdrücke der Form "<i class="fa fa-$NAME sind die Loader für die Icons von FontAwesome; können weggelassen werden -->
  
  <!-- Menü schließen - Feld habe ich weiter oben hingepackt, irritiert dort nur -->
  <!-- <a href="#" class="w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="Menü schließen"><i class="fa fa-remove fa-fw"></i>  Menü schließen</a> -->
  <a href="#" class="w3-padding w3-blue">   <!--<i class="fa fa-users fa-fw"></i> -->                   Datenerfassung</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-eye fa-fw"></i> -->                    Datenbearbeitung</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-users fa-fw"></i> -->                  Rechnungserstellung</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-bullseye fa-fw"></i> -->               Stammdaten ändern</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-diamond fa-fw"></i> -->                Administration</a>
  <a href="#" class="w3-padding">           <!-- <i class="fa fa-bell fa-fw"></i> -->                   ...über Appstruktur klarwerden</a>
  <!-- <a href="#" class="w3-padding">           <i class="fa fa-bank fa-fw"></i>  General</a>
  <a href="#" class="w3-padding">           <i class="fa fa-history fa-fw"></i>  History</a>
  <a href="#" class="w3-padding">           <i class="fa fa-cog fa-fw"></i>  Settings</a><br><br> -->
</nav>


<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="TestWoIstDas?"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:25px;">
    
  <header class="w3-container" style="padding-top:5px">
    <p>$Platzhalter für die Breadcrumbsübersicht, bestehend aus gaaaaaaanz vielen Links...</p>
  </header>  

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Übersicht</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>Platzhalter1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Platzhalter2</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>Platzhalter3</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Platzhalter4</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>Platzhalter5</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Platzhalter6</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>Platzhalter7</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Platzhalter8</h4>
      </div>
    </div>
  </div>


<!-- Erster eigener Versuch, eine Zeile mit unterschiedlichen Columns einzufügen -->
    <div class="w3-container w3-section">
        <div class="w3-padding w3-light-blue w3-twothird">
            <div>
                <div>
                    <h4>Test für Contentblock</h4>
                    <p>Inhalte in einem Container mit einer 2/3 Ausdehnung</p>
                        <div class="w3-container w3-third w3-amber" style="border-style:dotted">
                            <p>Verschachtelter Container für integrierte Inhalte mit gepunktetem Rahmen und einer 1/3-Ausdehnung</p>
                                <div class="w3-btn w3-center w3-hover-khaki w3-padding-tiny">
                                    <p>Button innerhalb des <br>Contentcontainersmit Hover</p>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div> 


  <div class="w3-container w3-section">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Hier wurde ein Bild eingebunden</h5>
        <img src="img_region.jpg" style="width:100%" alt="Das ist der Alt-Text dazu">
      </div>
      <div class="w3-twothird">
        <h5>Feeds</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-blue w3-padding-tiny"></i></td>
            <td>New record, over 90 views.</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-red w3-padding-tiny"></i></td>
            <td>Database error.</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-orange w3-text-white w3-padding-tiny"></i></td>
            <td>New record, over 40 users.</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-red w3-padding-tiny"></i></td>
            <td>New comments.</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark w3-light-blue w3-padding-tiny"></i></td>
            <td>Check transactions.</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-red w3-padding-tiny"></i></td>
            <td>CPU overload.</td>
            <td><i>35 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt w3-green w3-padding-tiny"></i></td>
            <td>New shares.</td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Diese Progressbars können wir u. a. für das Statistikmodul nutzen.</h5>
    <p>New Visitors</p>
    <div class="w3-progress-container w3-grey">
      <div id="myBar" class="w3-progressbar w3-green" style="width:25%">
        <div class="w3-center w3-text-white">+25%</div>
      </div>
    </div>

    <p>New Users</p>
    <div class="w3-progress-container w3-grey">
      <div id="myBar" class="w3-progressbar w3-orange" style="width:50%">
        <div class="w3-center w3-text-white">50%</div>
      </div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-progress-container w3-grey">
      <div id="myBar" class="w3-progressbar w3-red" style="width:75%">
        <div class="w3-center w3-text-white">75%</div>
      </div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Die folgende Tabelle können wir super für alle Arten von Listen nutzen.</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="w3-btn">Dies ist ein Button mit variabler Größe  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Die folgende Funktion müssen wir uns behalten, um Fehlermeldungen, die eine neue Seite laden, darin anzeigen zu lassen und diese dann wegklicken zu können.</h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
        <img src="img_avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Mike</span><br>
      </li>
      <li class="w3-padding-16">
        <span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
        <img src="img_avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jill</span><br>
      </li>
      <li class="w3-padding-16">
        <span onclick="this.parentElement.style.display='none'" class="w3-closebtn w3-padding w3-margin-right w3-medium">x</span>
        <img src="img_avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jane</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="img_avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="img_avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Demographic</h5>
        <p>Language</p>
        <p>Country</p>
        <p>City</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">System</h5>
        <p>Browser</p>
        <p>OS</p>
        <p>More</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Target</h5>
        <p>Users</p>
        <p>Active</p>
        <p>Geo</p>
        <p>Interests</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
    document.getElementsByClassName("w3-overlay")[0].style.display = "block";
}
 
function w3_close() {
    document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
    document.getElementsByClassName("w3-overlay")[0].style.display = "none";
}
</script>

</body>
</html>
