<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Responsive Side Menu &ndash; Layout Examples &ndash; Pure</title>

    


<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">







  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/side-menu.css">
    <!--<![endif]-->
  


    

    

</head>
<body>



    
    
{% block content %}

<h1>DAS IST AUF JEDER SEITE SICHTBAR</h1>
{% endblock %}



</body>
</html>
