{% extends 'index/base.html' %}
{% load staticfiles %}


{% block content %}
    <center>
        <h1>Eine Schülerliste</h1>
        <div>
            <br><br>
                  
            {% for schueler in schueler %}
               
                <div>
                    <h6>#######NEUER SCHLEIFENDURCHLAUF#########</h6>
                    <p> Schueler-ID: {{ schueler.pk }} </p>
                    <p> Schuelernachname: {{ schueler.nname }} </p>
                    <p> Schuelervorname: {{ schueler.vname }} </p>
                    <p> Geburtsdatum: {{ schueler.geburtsdatum }} </p>
                    <p> Datensatz angelegt: {{ schueler.created_date }} </p>
                    
                </div>
                
            {% endfor %}
            
        </div>
        
{% endblock %}