

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.dark input {
  color: #000;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}