

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.dark input {
  color: #000;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.rechnung-buttons {
  min-width: 22em;
}

.green {
  background-color: LightGreen;
}

.orange {
  background-color: LightSalmon;
}

input[type="checkbox"] {
  transform:scale(2.2, 2.2);
  margin-right: 20px;
}