{% extends 'base/base.html' %}

{% block content %}

<h2>Liste aller Schüler</h2>

<div class="w3-container w3-twothird">

    <table class="w3-table-all w3-responsive w3-hoverable ">
        
        <tr>
            <th align="left">Name</th>
            <th align="left">Gruppe</th>
            <th align="left">Stufe</th>
            <th align="left">Geburtsdatum</th>
        </tr>
       
            {% for schueler in object_list %}
       
                <tr>           
                    <td> <a href="{% url 'schueler_detail' pk=schueler.pk %}"> {{ schueler.nachname }}, {{schueler.vorname }}</a> </td>
                    <td> <a href="{% url 'gruppe_detail' pk=schueler.gruppe %}"> {{ schueler.gruppe }} </td>
                    <td> {{ schueler.stufe }} </td>
                    <td> {{ schueler.geburtsdatum }} </td>
                </tr>
    
            {% endfor %}
    
    </table>

</div>

<div class="w3-container w3-rest" style="border-style:solid; border-width:0.5px; border-color:grey">
    <h4>Aktionen: </h4>
    <p>Hier könnten Aktionen oder Links stehen.</p>
    <p>Und hier noch welche.</p>
    
</div>
{% endblock %}






