{% load static from staticfiles %}
{% load benachrichtigungen_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AbSys - {% block title %}{% endblock %}</title>
        <meta name="description" content="Abrechnungssystem der SLSH und LZH.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        <script src="{% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  {% block navigation %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">AbSys</a>
        </div>
        <div class="navbar-collapse collapse">
          {% block toggle_login %}
            {% include "anmeldung/toggle_login.html" %}
          {% endblock %}
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-left">
              {% if perms.benachrichtigungen.change_benachrichtigung %}
              <li><a href="{% url 'benachrichtigungen_benachrichtigung_list' %}">{% benachrichtigungen_string %}</a>
              {% endif %}
              {% if perms.abrechnung.add_rechnungsozialamt %}
              <li><a href="{% url 'abrechnung_rechnungsozialamt_form' %}">Rechnungen</a></li>
              {% endif %}
              {% if perms.anwesenheitsliste.add_anwesenheit and perms.anwesenheitsliste.change_anwesenheit %}
              <li><a href="{% url "anwesenheitsliste_anwesenheit_heute" %}">Anwesenheiten</a></li>
              {% endif %}
              {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Verwaltung</a>
              {% endif %}
              </li>
              <li><a href="{% url 'absys_passwort_aendern' %}">Passwort ändern</a>
              </li>
            </ul>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  {% endblock %}

    <div class="{% block main_container_class %}container{% endblock %}">
      {% block messages %}
        <div class="flash-messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Schließen">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message|safe }}
          </div>
          {% endfor %}
        </div>
      {% endblock %}
      <div>
        {% block content %}{% endblock %}
      </div>

      <hr>

      <footer>
        <p>&copy; AbSys 2016</p>
      </footer>
    </div> <!-- /container -->
        <script src="{% static "js/vendor/jquery-1.11.0.min.js" %}"></script>

        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>

        <script src="{% static "js/main.js" %}"></script>

        <!-- AbSys 1.3.0 powered by Django {{ django_version }} -->
    </body>
</html>
