{% load abrechnung_filters %}
{% load abrechnung_tags %}

<h3>Zusammenfassung der Schüleranwesenheiten im Rechnungszeitraum für {{ einrichtungsrechnung.einrichtung }}</h3>
{% with schuelerdaten=einrichtungsrechnung.get_schuelerdaten darstellungszeitraeume=einrichtungsrechnung.rechnung_sozialamt.get_tage %}
{% for zeitraum in darstellungszeitraeume %}

  {# Wir erstellen die Pre/Suffixe hier um sie nicht wiederholt generieren zu müssen. #}
  {% if forloop.first %}
    {% get_prefix zeitraum as prefix_zeitraum %}
    {% get_prefixdaten einrichtungsrechnung prefix_zeitraum as prefix_schuelerdaten %}
  {% endif %}
  {% if forloop.last %}
    {% get_suffix zeitraum as suffix_zeitraum %}
    {% get_suffixdaten einrichtungsrechnung suffix_zeitraum as suffix_schuelerdaten %}
  {% endif %}

  {% with start=zeitraum.0 ende=zeitraum|last %}
  <h4>Zusammenfassung für den Darstellungszeitraum {{ start|date }} bis {{ ende|date }}</h3>
  {% endwith %}

  <table class="table">
    <thead>
      {# Zeile für Monatsnamen #}
      <tr>
        <th></th>
        {% if forloop.first %}
          {# Stelle Monatsnamen für Kontexttage vorran. #}
          {% with monate=prefix_zeitraum|monatsueberschriften %}
          {% for monat, zellen in monate.items %}
            <th colspan="{{ zellen }}">{{ monat|monatsname}}</th>
          {% endfor %}
          {% endwith %}
        {% endif %}

        {% with monate=zeitraum|monatsueberschriften %}
        {% for monat, zellen in monate.items %}
          <th colspan="{{ zellen }}">{{ monat|monatsname}}</th>
        {% endfor %}
        {% endwith %}

        {% if forloop.last %}
          {# Stelle Monatsnamen für Kontexttage hinten an. #}
          {% with monate=suffix_zeitraum|monatsueberschriften %}
          {% for monat, zellen in monate.items %}
            <th colspan="{{ zellen }}">{{ monat|monatsname}}</th>
          {% endfor %}
          {% endwith %}
        {% endif %}
      </tr>
      {# Zeile für Monatstage #}
      <tr>
        <th>Schüler</th>
        {% if forloop.first %}
          {# Stelle Kontexttage vorran. #}
          {% for datum in prefix_zeitraum %}
          <th class="zeitraum-kontext">{{ datum.day }}</th>
          {% endfor %}
        {% endif %}

        {% for datum in zeitraum %}
        <th class="{% zusammenfassung_klasse datum ist_kontext %}">{{ datum.day }}</th>
        {% endfor %}

        {% if forloop.last %}
          {# Stelle Kontexttage hinten an. #}
          {% for datum in suffix_zeitraum %}
          <th class="zeitraum-kontext">{{ datum.day }}</th>
          {% endfor %}
        {% endif %}
      </tr>
    </thead>

    <tbody>
      <tr>
        {% if forloop.first %}
          {% for schueler, daten in prefix_schuelerdaten.items %}
            <td>{{ schueler }}</td>
            {% for datum in prefix_zeitraum %}
              {% get_item daten datum as anwesenheit %}
              <td class="zeitraum-kontext">
                {% if anwesenheit and not anwesenheit.anwesend %}H{% else %}1{% endif %}
              </td>
            {% endfor %}
          {# Continue with regular positionen #}
          {# {% for schueler, daten in schuelerdaten.items %} #}
            {% get_item schuelerdaten schueler as daten %}
            {% for datum in zeitraum %}
              {% get_item daten datum as position %}
              <td class="{% zusammenfassung_klasse datum vermindert=position.vermindert %}">
                {{ position|zusammenfassung_anwesenheitssymbol:daten }}
              </td>
            {% endfor %}
          {% endfor %}
        {% else %}
        {# Regulär #}
          {% for schueler, daten in schuelerdaten.items %}
            <td>{{ schueler }}</td>
            {% for datum in zeitraum %}
              {% get_item daten datum as position %}
              <td class="{% zusammenfassung_klasse datum vermindert=position.vermindert %}">
                {{ position|zusammenfassung_anwesenheitssymbol:daten }}
              </td>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </tr>
    </tbody>
  </table>
  <div style="page-break-before:always;"></div>
{% endfor %}
{% endwith %}
