{# Snippet welches eine Schülerposition zusammenfasst und den Kopf für die detailierte Schülerliste bildet #}
<h3> Position {{ forloop.counter }} </h3>
<h4> ({{ einrichtungsposition.name_schueler }}
  in {{ einrichtungsposition.rechnung_einrichtung.name_einrichtung }}
  vom {{ rechnungsozialamt.startdatum|date:"SHORT_DATE_FORMAT" }} bis
  {{ rechnungsozialamt.enddatum|date:"SHORT_DATE_FORMAT" }})
</h4>

<table class="table table-striped">
  <thead style="display: table-row-group">
    <tr>

      {% if einrichtungsrechnung.einrichtung.pers_bkz %}
        <th>Aktenzeichen</th>
      {% endif %}

      <th>Geburtsdatum</th>

      {% if not einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <th>Maximale Fehltage</th>
      {% endif %}

      <th>Anzahl Tage anwesend</th>

      {% if einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <th>Betrag Anwesenheit</th>
      {% endif %}

      <th>Fehltage im Abrechnungs-zeitraum</th>

      {% if einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <th>Betrag Abwesenheit</th>
      {% endif %}

      {% if not einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <th>Übertrag abgerechnete Fehltage</th>
        <th>Fehltage Gesamt</th>
        <th>Fehltage zur Abrechnung</th>
        <th>davon Fehltage nachträglich zur Abrechnung</th>
      {% endif %}

      <th>Zahltage dieser Rechnung</th>

      {% if einrichtungsrechnung.einrichtung.konfiguration.bargeldauszahlung %}
        <th>Barbetrag</th>
      {% endif %}

      {% if einrichtungsrechnung.einrichtung.konfiguration.bekleidungsgeld %}
        <th>Bekleidungsgeld</th>
      {% endif %}

      <th>Gesamtbetrag in Euro</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      {% if einrichtungsrechnung.einrichtung.pers_bkz %}
        <td>{{ einrichtungsposition.schueler.aktenzeichen }}</td>
      {% endif %}

      <td>{{ einrichtungsposition.schueler.geburtsdatum|date:"SHORT_DATE_FORMAT" }}</td>

      {% if not einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <td>{{ einrichtungsposition.fehltage_max }}</td>
      {% endif %}

      <td>{{ einrichtungsposition.anwesend }}</td>

      {% if einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <td>{{ einrichtungsposition.anwesenheitssumme }}</td>
      {% endif %}

      <td>{{ einrichtungsposition.fehltage }}</td>

      {% if einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <td>{{ einrichtungsposition.abwesenheitssumme }}</td>
      {% endif %}

      {% if not einrichtungsrechnung.einrichtung.konfiguration.fehltage_immer_abrechnen %}
        <td>{{ einrichtungsposition.fehltage_uebertrag }}</td>
        <td>{{ einrichtungsposition.fehltage_gesamt }}</td>
        <td>{{ einrichtungsposition.fehltage_abrechnung }}</td>
        <td>{{ einrichtungsposition.fehltage_anderer_zeitraum }}</td>
      {% endif %}

      <td>{{ einrichtungsposition.zahltage }}</td>

      {% if einrichtungsrechnung.einrichtung.konfiguration.bargeldauszahlung %}
        <td>{{ einrichtungsposition.bargeldbetrag }}</td>
      {% endif %}

      {% if einrichtungsrechnung.einrichtung.konfiguration.bekleidungsgeld %}
        <td>{{ einrichtungsposition.bekleidungsgeld }}</td>
      {% endif %}

      <td>{{ einrichtungsposition.summe }}</td>
    </tr>
  </tbody>
</table>
