{% extends 'base/base.html' %}

{% block content %}
    <div class="w3-padding w3-margin">
       
        <center>
            
            <p> TODO:</p>
            <p>1) Rowcycle statt festen Tabellen in ListViews einbauen</p>
            <p>2) template für stammdatenseiten bauen, bei dem alle anderen stammdatenthemen rechts als kleine boxen angezeigt werden</p>
            
                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-yellow" href="/stammdaten/gruppen/">Gruppen</a>
                
                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-red" href="/stammdaten/stufen/">Stufen</a>
            
                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-green" href="/stammdaten/einrichtungen/">Einrichtungen</a>
            
                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-blue" href="/stammdaten/sozialaemter/">Sozialämter</a>

                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-orange" href="/stammdaten/schliesstage/">Schließtage</a>

                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-purple" href="/stammdaten/ferien/">Ferien</a>
            
                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-lime" href="/stammdaten/schueler/">Schüler</a>
            
                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-brown" href="/stammdaten/schuelerineinrichtung/">Schüler in der Einrichtung</a>
            
                <a class="w3-btn w3-xlarge w3-margin w3-padding w3-indigo" href="/stammdaten/schueler/">weitere...</a>
        
        </center>
    
    </div>
    
{% endblock %}



