{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Anwesenheitsliste {{ view.datum|date:"SHORT_DATE_FORMAT" }}
{% endblock title %}

{% block content %}
{% if view.query_string %}
<div class"well-sm"><br></div>
  <div class=" well-sm {{ view.komplett_erfasst|yesno:"green,orange" }}">
    {% if view.komplett_erfasst %}
      <ul>
        <li>Für diesen Tag liegt für jeden Schüler dieser Gruppe bereits ein Anwesenheitsdatensatz vor.</li>
        <li>Sie können die Datensätze nun editieren und erneut abspeichern, falls Sie Berichtigungen vornehmen möchten.</li>
      </ul>
    {% else %}
      <ul>
        <li>Für diesen Tag liegt für mindestens einen der Schüler dieser Gruppe noch kein Anwesenheitsdatensatz vor.</li>
        <li>Falls für diesen Tag nötig, können Sie nun die Datensätze ergänzen und abspeichern.</li>
      </ul>
    {% endif %}
  </div>
{% endif %}
<div></div>
  <div class="page-header row well well-sm">
    <div class="col-md-5">
      <h3 class="text-left">
        {% if view.vormonat_anfang %}
          <a href ="{% url "anwesenheitsliste_anwesenheit_anwesenheitsliste" datum=view.vormonat_anfang %}{% if view.query_string %}?{{ view.query_string }}{% endif %}">
            <button type="button" class="btn btn-primary" aria-label="Left Align">
              <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
            </button>
          </a>
        {% endif %}
        <a href ="{% url "anwesenheitsliste_anwesenheit_anwesenheitsliste" datum=view.aktueller_monat_anfang %}{% if view.query_string %}?{{ view.query_string }}{% endif %}">
          <button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          </button>
        </a>
        {% if view.gestern %}
          <a href="{% url "anwesenheitsliste_anwesenheit_anwesenheitsliste" datum=view.gestern %}{% if view.query_string %}?{{ view.query_string }}{% endif %}">
            <button type="button" class="btn btn-primary" aria-label="Left Align">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
          </a>
        {% endif %}
        {{ view.datum|date:"SHORT_DATE_FORMAT" }}
        {% if view.morgen %}
          <a href="{% url "anwesenheitsliste_anwesenheit_anwesenheitsliste" datum=view.morgen %}{% if view.query_string %}?{{ view.query_string }}{% endif %}">
            <button type="button" class="btn btn-primary" aria-label="Left Align">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </a>
        {% endif %}
        <a href ="{% url "anwesenheitsliste_anwesenheit_anwesenheitsliste" datum=view.heute %}{% if view.query_string %}?{{ view.query_string }}{% endif %}">
          <button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          </button>
        </a>
      </h3>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      {% if view.gruppen %}
        <h2 class="text-right">
        <form class="form-inline" id="anwesenheit_gruppe_formular">
          <select class="form-control" name="gruppe_id">
            <option value="0">Bitte auswählen</option>
            {% for gruppe in view.gruppen %}
              <option value="{{ gruppe.id }}"{% if view.gruppe_id == gruppe.id %} selected{% endif %}>{{ gruppe.name }}</option>
            {% endfor %}
          </select>
          <button class="btn btn-success" type="submit">OK</button>
        </form>
        </h2>
      {% endif %}
    </div>
  </div>
 {% crispy formset view.helper %}
{% endblock content %}
</div>